
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color:#f5e8ba;
    text-align: center;
 }
 .main {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    color: white;
    background-color: black;
    text-align: center; 
    margin-top: 50px;
    padding: 10px;
    margin-left: 400px;
 }